@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions
@using System.Diagnostics
@inherits LayoutComponentBase
@inject GraphicEngine gEngine;
@* <div class="sidebar"> *@
@*     <NavMenu /> *@
@* </div> *@
@* *@

<div class="main">
    @* <div class="top-row px-4"> *@
    @*     <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
    @* </div> *@

    <p>Backend fps: @(gEngine.FrameTime == 0 ? 0 : 1000 / gEngine.FrameTime)</p>
    <p>fps: @fps</p>
    <p>Frames loss: @frameLoss</p>
@*     <div class="content px-4"> *@
    <img src=@($"data:image/png;base64,{@base64string}")>
@*         @* @Body *@
@*     </div> *@
</div>

@code{
    System.Threading.Timer timer;
    private string base64string;

    long frameCount = 0;
    long skippedFrames = 0;
    float frameLoss = 0;
    long fps = 0;
    //DateTime lastUpdate = DateTime.Now;
    bool pageRendered = true;
    protected override void OnInitialized()
    {
        Stopwatch sw = new Stopwatch();
        sw.Start();
        timer = new System.Threading.Timer(async _ =>
        {
            
            if (sw.Elapsed.Seconds >= 1)
            {
                fps = frameCount;
                frameLoss = skippedFrames;
                frameCount = 0;
                skippedFrames = 0;
                sw.Restart();
            }
            if (pageRendered)
            {
                pageRendered = false;
                frameCount++;
                if (gEngine.Complete)
                {
                    base64string = gEngine.GetImage();
                    await InvokeAsync(StateHasChanged);
                    return;
                }
            }
            skippedFrames++;
        }, null, 0, 16);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        pageRendered = true;
    }

}
